<head>
    
    <title>Lost in translation</title>
    <link rel="icon" href="/Lost_in_Translation.1/assets/images/background/favicon.png" type="image/png">
        <meta charset="utf-8">
        <meta name="author" content="Jeremie Giffard">
        <meta name="description" content="Site de lecture où un auteur peut ecrire et se faire connaitre. Mon projet final de la formation 3wa.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Style -->
        <link rel="stylesheet" href="/Lost_in_Translation.1/assets/style.css">
        <!-- font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
