<header>
    <nav class="navbar" id="myTopnav">
        <a href="../index.php">
            <h1>Lost in translation</h1>
        </a>
        <a href="<?php echo '../admin/create_post.php' ?>">Create Story</a>
        <a href="<?php echo '../admin/post.php' ?>">Manage Story</a>
        <a href="<?php echo  '../admin/users.php' ?>">Manage User</a>
        <?php if ($_SESSION['current_session']['user']['role'] == "Admin"): ?>
        <a href="<?php echo '../admin/topics.php' ?>">Manage Topics</a>
        <?php endif ?>
        <a href="../admin/dashboard.php">Dashboard</a>
        <a href="../functions/logout.php">Log Out</a>


        <a href="#" class="icon">
			<i class="fa fa-bars"></i>
		</a>
    </nav>
</header>
